.cases {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background: var(--background-primary);
	width: 100%;
	color: var(--white-color);

	&__items {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 31px;
	}

	&__item {
		grid-column: 3 span;
	}
}
