.cases {
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
	background: var(--background-primary);
	width: 100%;
	color: var(--white-color);
	display: flex;
	align-items: center;

	&__title {
		margin-bottom: 120px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 31px;
		padding-bottom: 120px;
	}

	&__item {
		position: relative;
		grid-column: 3 span;
		padding: 20px;
		background: var(--case-item-color);
		opacity: 0.6;
		transition: all 0.2s ease;

		&::after {
			opacity: 0;
		}

		&:hover {
			transition: all 0.2s ease;
			opacity: 1;

			&::after {
				content: "";
				position: absolute;
				bottom: -18px;
				left: 0;
				height: 8px;
				width: 100%;
				background-color: var(--orange-color);
				box-shadow: 0px 2px 4px rgba(222, 155, 85, 0.4);
				border-radius: 7px;
				opacity: 1;
				transition: all 0.2 ease;
			}
		}
	}

	&__btn {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
