.hero {
	position: relative;
	z-index: 10;
	min-height: 100vh;
	background-image: url("/img/hero_bg.png");
	background-size: 100% 100%;
	font-family: "Montserrat", sans-serif;
	color: var(--white-color);

	&__container {
		padding-top: 170px;
		@include flex-v-center;
	}

	&__ecommerce {
		margin-top: 120px;
		@include flex-v-center;
	}

	&__title {
		&-main {
			font-weight: 700;
			font-size: 52px;
			line-height: 70px;
			color: var(--white-color);
			max-width: 810px;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		&-sub {
			display: inline-block;
			color: var(--orange-color);
			font-weight: 700;
			font-size: 23px;
			line-height: 28px;
			margin: 0;
			margin-left: 12px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;

		&-lower {
			margin-top: 0;
			margin-bottom: 15px;
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
			font-variant: small-caps;
		}
	}

	&__btn {
		min-width: 330px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		padding-left: 22px;
		background-color: var(--orange-color);
		@include flex-all-sb;
	}

	&__content {
		display: flex;

		&-main {
			max-height: 660px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-side {
			position: relative;
		}

		&-image {
			position: relative;
			z-index: 15;
		}

		&-bgimage {
			position: absolute;
			left: 30px;
			top: -20px;
			z-index: 10;
		}
	}

	&__arrow {
		margin-bottom: -2px;
	}
}
