.howWeWork {
	position: relative;
	z-index: 19;
	font-family: "Montserrat", sans-serif;
	background: url("/img/how-we-work_main_bg.png") no-repeat center center;
	min-height: 900px;
	margin-top: -50px;

	&__title {
		position: relative;
		z-index: 25;
		margin: 0;
		color: var(--white-color);
		text-transform: uppercase;
		font-weight: 400;
		font-size: 26px;
		line-height: 32px;
		text-align: center;
	}

	&__path {
		margin-top: 200px;
		max-width: 960px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		row-gap: 120px;
		column-gap: 30px;
		counter-reset: howWeWork;
	}

	&__item {
		position: relative;
		grid-column: 4 span;
		display: flex;
		flex-direction: column;
		align-items: center;
		counter-increment: howWeWork;

		&::before {
			content: "0" counter(howWeWork);
			font-weight: 700;
			font-size: 118px;
			line-height: 144px;
			opacity: 0.1;
			color: var(--white-color);
			position: absolute;
			top: -60px;
			right: 0;
			z-index: 25;
		}

		&-active {
			&::before {
				color: var(--orange-color);
				opacity: 1;
				text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
			}
		}

		&-four {
			&::before {
				content: "04";
			}
		}

		&-six {
			&::before {
				content: "06";
			}
		}
	}

	&__text {
		text-align: center;
		text-transform: uppercase;
		color: var(--white-color);
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		margin: 0;
		@include flex-v-center;

		&-active {
			text-transform: capitalize;
			text-decoration: underline;
			font-weight: 400;
			font-size: 18px;
			line-height: 22px;
			margin-right: 5px;
		}
	}

	&__image {
		z-index: 30;
	}
}
