.nav {
	&__list {
		@include flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__link {
		color: var(--color-white);
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
	}
}

@media (max-width: 1024px) {
	.nav {
		margin: 0 auto;
		margin-top: 12px;
	}
}
