<section class="cases">
	<div class="container cases__container">
		<h2 class="title__h2">Кейсы говорят за себя</h2>
		<div class="cases__items">
			<div class="cases__item">
				<img
					src="/img/cases/case1.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Королевство цветов</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case2.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Мастер климат</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case3.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Новая аптека</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case4.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Восток Тех Резерв</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
		</div>
	</div>
</section>
