<section class="cases">
	<div class="container cases__container">
		<h2 class="cases__title title__h2">Кейсы говорят за себя</h2>
		<div class="cases__items">
			<div class="cases__item">
				<img
					src="/img/cases/case1.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Королевство цветов</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case2.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Мастер климат</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case3.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Новая аптека</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
			<div class="cases__item">
				<img
					src="/img/cases/case4.png"
					alt="Изображение кейса"
					class="image cases__image"
				/>
				<h4 class="title__h4">Восток Тех Резерв</h4>
				<h5 class="title__h5">Интернет-магазин</h5>
			</div>
		</div>
		<div class="cases__btn">
			<button class="btn btn-reset btn__primary btn__primary-purple">
				<span class="btn__text btn__text-purple"
					>Оставьте свою заявку, чтобы получить БЕСПЛАТНУЮ
					консультацию!
				</span>
				<div class="btn__arrow btn__arrow-purple">
					<span class="btn__arrow-text">Оставить свою</span>
					<img
						loading="lazy"
						src="/img/button_arrow.svg"
						class="image btn__arrow-image"
						width="20px"
						height="10px"
						alt="Иконка стрелки на кнопке"
					/>
				</div>
			</button>
		</div>
	</div>
</section>
