<section class="clients">
	<div class="container">
		<h2 class="title__h2 clients__title">Наши клиенты</h2>
		<div class="clients__container">
			<div class="clients__image">
				<svg
					class="clients__image-round"
					width="317"
					height="317"
					fill="var(--white-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use>
				</svg>
				<img
					loading="lazy"
					src="/img/clients/rivera.png"
					class="image clients__client clients__client-first"
					alt="Изображение Rivera"
				/>
			</div>
			<div class="clients__image">
				<svg
					class="clients__image-round"
					width="317"
					height="317"
					fill="var(--white-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use>
				</svg>
				<img
					loading="lazy"
					src="/img/clients/apteka.png"
					class="image clients__client clients__client-second"
					alt="Изображение аптека"
				/>
			</div>
			<div class="clients__image">
				<svg
					class="clients__image-round"
					width="317"
					height="317"
					fill="var(--white-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use>
				</svg>
				<img
					loading="lazy"
					src="/img/clients/stereo.png"
					class="image clients__client clients__client-third"
					alt="Изображение стерео"
				/>
			</div>
			<div class="clients__image">
				<svg
					class="clients__image-round"
					width="317"
					height="317"
					fill="var(--white-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use>
				</svg>
				<img
					loading="lazy"
					src="/img/clients/pomidor.png"
					class="image clients__client clients__client-fourth"
					alt="Изображение Италия"
				/>
			</div>
		</div>
	</div>
</section>
