<section class="features">
	<div class="container features__container">
		<div class="features__main">
			<img
				src="/img/features/features_web pay.png"
				class="image features__image"
				alt="Wep Pay изображение"
			/>
			<div class="features__info">
				<h4 class="features__title features__content">
					Принимайте платежи картой, с помощью удобных платежных
					систем!
				</h4>
				<p class="features__text features__content">
					Подключите один из надежных сервисов: Яндекс.Деньги,
					Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
					покупатели смогут безопасно оплатить товар или услугу картой
					Visa или Mastercard, Яндекс.Деньгами, со счета мобильного
					телефона, через Сбербанк Онлайн или Альфа Клик.
				</p>
				<div class="features__logotypes features__content">
					<img
						loading="lazy"
						src="/img/features/logo.svg"
						class="image features__logo"
						width="156"
						height="44"
						alt="Логотип Сбербанка"
					/>
					<img
						loading="lazy"
						src="/img/features/Yandex.svg"
						class="image features__logo"
						width="195"
						height="54"
						alt="Логотип Яндекс Касса"
					/>
					<img
						loading="lazy"
						src="/img/features/logo-robokassa.svg"
						class="image features__logo"
						width="195"
						height="29"
						alt="Логотип Робокассы"
					/>
				</div>
			</div>
		</div>
		<ul class="features__list list-reset">
			<li class="features__item">
				<a href="#" class="features__link">Безопасность</a>
			</li>
			<li class="features__item">
				<a href="#" class="features__link">CRM & 1C</a>
			</li>
			<li class="features__item">
				<a href="#" class="features__link">Онлайн оплата</a>
			</li>
		</ul>
	</div>
</section>
