<section class="features">
	<div class="container features__container">
		<div class="features__main">
			<div class="features__images">
				<img
					src="./img/features/encrypt.png"
					class="image features__image"
					alt="Wep Pay изображение"
					id="1"
				/>
				<img
					src="./img/features/1c.png"
					class="image features__image"
					alt="Безопасноть изображение"
					id="2"
				/>
				<img
					src="./img/features/features_web pay.png"
					class="image features__image features__image-active"
					alt="1с изображение"
					id="3"
				/>
			</div>

			<div class="features__info">
				<h4 class="features__title features__content">
					Принимайте платежи картой, с помощью удобных платежных
					систем!
				</h4>
				<p class="features__text features__content">
					Подключите один из надежных сервисов: Яндекс.Деньги,
					Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши
					покупатели смогут безопасно оплатить товар или услугу картой
					Visa или Mastercard, Яндекс.Деньгами, со счета мобильного
					телефона, через Сбербанк Онлайн или Альфа Клик.
				</p>
				<div class="features__logotypes features__content">
					<img
						loading="lazy"
						src="./img/features/logo.svg"
						class="image features__logo"
						width="156"
						height="44"
						alt="Логотип Сбербанка"
					/>
					<img
						loading="lazy"
						src="./img/features/Yandex.svg"
						class="image features__logo"
						width="195"
						height="54"
						alt="Логотип Яндекс Касса"
					/>
					<img
						loading="lazy"
						src="./img/features/logo-robokassa.svg"
						class="image features__logo"
						width="195"
						height="29"
						alt="Логотип Робокассы"
					/>
				</div>
			</div>
		</div>
		<div class="features__list">
			<button class="btn-reset features__btn">
				<span class="features__link" data-img="1">Безопасность</span>
			</button>
			<button class="btn-reset features__btn">
				<span class="features__link" data-img="2">CRM & 1C</span>
			</button>
			<button class="btn-reset features__btn">
				<span class="features__link features__link-active" data-img="3"
					>Онлайн оплата</span
				>
			</button>
		</div>
	</div>
</section>
