<footer class="footer">
	<div class="container footer__container">
		<div class="footer__main">
			<h4 class="footer__subtitle">
				Оставьте заявку, чтобы узнать, как создать свой Интернет-магазин
			</h4>
			<h2 class="footer__title">
				Интернет-магазин, который приносит прибыль!
			</h2>
			<ul class="footer__advantages list-reset">
				<li class="footer__advantage footer__advantage-bigger">
					<img
						loading="lazy"
						src="./img/plus_icon.svg"
						class="image footer__icon"
						width="9"
						height="9"
						alt="Иконка 'Плюс'"
					/>Получите бесплатно
				</li>
				<li class="footer__advantage">
					<img
						loading="lazy"
						src="./img/plus_icon.svg"
						class="image footer__icon"
						width="9"
						height="9"
						alt="Иконка 'Плюс'"
					/>Личная консультация
				</li>
				<li class="footer__advantage">
					<img
						loading="lazy"
						src="./img/plus_icon.svg"
						class="image footer__icon"
						width="9"
						height="9"
						alt="Иконка 'Плюс'"
					/>Стратегия запуска и продвижения
				</li>
				<li class="footer__advantage">
					<img
						loading="lazy"
						src="./img/plus_icon.svg"
						class="image footer__icon"
						width="9"
						height="9"
						alt="Иконка 'Плюс'"
					/>Коммерческое предложение
				</li>
			</ul>
		</div>
		<div class="footer__form">
			<form class="form">
				<input
					type="text"
					name="name"
					id="name"
					class="form__input"
					placeholder="Имя"
				/>
				<input
					type="text"
					name="tel"
					id="tel"
					class="form__input"
					placeholder="+7 (000) 000-00-00"
				/>
				<textarea
					name="descr"
					id="descr"
					class="form__input form__input-textarea"
					placeholder="Расскажите о своей задаче"
				>
				</textarea>

				<div class="form__input-checkbox">
					<input type="checkbox" id="conf" name="conf" value="conf" />
					<label
						class="form__input-label"
						for="conf"
						data-content="Нажимая на кнопку 'Отправить', я даю согласие на обработку персональных данных."
						>Нажимая на кнопку "Отправить", я даю согласие на
						обработку персональных данных.</label
					>
				</div>

				<button type="submit" class="btn-reset form__submit">
					Отправить
				</button>
			</form>
		</div>
	</div>
	<div class="footer__info info">
		<div class="container info__container">
			<img
				class="info__logo"
				src="./img/footer_logo.png"
				alt="Логотив в подвале сайта"
			/>
			<ul class="info__contacts list-reset" title="Конктакты">
				<li class="info__contact info__title">Контакты</li>
				<li class="info__contact">ул. Волочаевская, 8г</li>
				<li class="info__contact">
					<a href="tel:+74212470300" class="info__link"
						>+7 (4212)470-300</a
					>
				</li>
				<li class="info__contact">
					<a href="tel:+74212253085" class="info__link"
						>+7 (4212) 25-30-85</a
					>
				</li>
			</ul>
			<ul class="info__social list-reset" title="Конктакты">
				<li class="info__contact info__title">Мы в соцсетях</li>
				<li class="info__contact">
					<a href="#" class="info__link">Instagram</a>
				</li>
				<li class="info__contact">
					<a href="#" class="info__link">Facebook</a>
				</li>
				<li class="info__contact">
					<a href="#" class="info__link">Vkontakte</a>
				</li>
			</ul>
			<div class="info__map">
				<span class="info__contact info__contact-last"
					>Найди нас <br />
					на карте</span
				>
				<img
					loading="lazy"
					src="./img/footer_arrow.svg"
					class="image"
					width="16"
					height="45"
					alt="Стрелка вправо"
				/>
				<img
					class="info__map-image"
					src="./img/Map.png"
					alt="Картинка карты"
				/>
			</div>
		</div>
	</div>
</footer>
