<header class="header">
	<div class="container header__container">
		<svg class="header__logo" width="230" height="32" fill="white">
			<use xlink:href="img/sprite.svg#logo"></use>
		</svg>
		<div class="contacts">
			<button class="btn btn-reset header__btn">Заказать звонок</button>
			<a href="tel:+74212253085" class="header__tel"
				>+7 (4212) 25-30-85</a
			>
		</div>
		<nav class="nav" title="Навигационная панель">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#" class="nav__link">О студии</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Наше порфолио</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Наши услуги</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Новости</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Отзывы</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link">Контакты</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
