<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<div class="hero__content-upper">
				<div class="hero__ecommerce">
					<img
						loading="lazy"
						src="/img/shopping-cart.svg"
						class="image"
						width="19"
						height="19"
						alt="E-commerce иконка"
					/>
					<h4 class="hero__title hero__title-sub">E-commerce</h4>
				</div>

				<h1 class="hero__title hero__title-main">
					Интернет-магазин принесет вам максимум прибыли!
				</h1>
				<p class="hero__text">
					Рассказываем что такое интернет магазин и зачем это нужно.
				</p>
			</div>
			<div class="hero__content-lower">
				<p class="hero__text-lower">Ответим на любой ваш вопрос</p>
				<button class="btn btn-reset hero__btn">
					<span>Выйти на связь</span>
					<img
						loading="lazy"
						src="/img/button_arrow.svg"
						class="image btn-arrow"
						width="23"
						height="12"
						alt="Иконка стрелки на кнопке"
					/>
				</button>
			</div>
		</div>
	</div>
</section>
