<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<div class="hero__content-main">
				<div class="hero__content-upper">
					<div class="hero__ecommerce">
						<img
							loading="lazy"
							src="./img/shopping-cart.svg"
							class="image"
							width="19"
							height="19"
							alt="E-commerce иконка"
						/>
						<h4 class="hero__title hero__title-sub">E-commerce</h4>
					</div>

					<h1 class="hero__title hero__title-main">
						Интернет-магазин принесет вам максимум прибыли!
					</h1>
					<p class="hero__text">
						Рассказываем что такое интернет магазин и зачем это
						нужно.
					</p>
				</div>
				<div class="hero__content-lower">
					<p class="hero__text-lower">Ответим на любой ваш вопрос</p>
					<button class="btn btn-reset btn__primary">
						<span>Выйти на связь</span>
						<span class="btn__arrow">
							<img
								loading="lazy"
								src="./img/button_arrow.svg"
								class="image btn__arrow-image"
								width="23"
								height="12"
								alt="Иконка стрелки на кнопке"
							/>
						</span>
					</button>
				</div>
			</div>
			<div class="hero__content-side">
				<img
					loading="lazy"
					src="./img/hero_side_bg.svg"
					class="image hero__content-bgimage"
					width="595"
					height="768"
					alt="Фон боковой картинки"
				/>
				<img
					src="./img/hero_side_img.png"
					alt="Боковая картинка главной секции"
					class="image hero__content-image"
				/>
			</div>
		</div>
	</div>
</section>
