<section class="howWeWork">
	<h3 class="howWeWork__title">Как мы работаем над вашим проектом</h3>
	<div class="container howWeWork__path">
		<div class="howWeWork__item howWeWork__item-active">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--white-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-first"
					width="81"
					height="81"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#consultation"></use>
				</svg>
			</div>
			<p class="howWeWork__text howWeWork__text-active">
				Подробнее
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon howWeWork__icon-active"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-second"
					width="81"
					height="81"
					fill="var(--orange-color)"
				>
					<use xlink:href="img/sprite.svg#tasks"></use>
				</svg>
			</div>
			<p class="howWeWork__text">
				Подготовка ТЗ
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-third"
					width="81"
					height="81"
					fill="var(--orange-color)"
				>
					<use xlink:href="img/sprite.svg#contract"></use>
				</svg>
			</div>
			<p class="howWeWork__text">
				Подписание договора и оплата
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item howWeWork__item-six">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-fourth"
					width="81"
					height="81"
					fill="var(--orange-color)"
				>
					<use xlink:href="img/sprite.svg#team"></use>
				</svg>
			</div>
			<p class="howWeWork__text">
				Привлечение покупателей
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-fiveth"
					width="81"
					height="81"
					fill="var(--orange-color)"
				>
					<use xlink:href="img/sprite.svg#browser"></use>
				</svg>
			</div>
			<p class="howWeWork__text">
				Настройка и наполнение интернет-магазина
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item howWeWork__item-four">
			<div class="howWeWork__image">
				<svg
					class="howWeWork__image-round"
					width="180"
					height="180"
					fill="var(--dark-color)"
				>
					<use xlink:href="img/sprite.svg#round"></use></svg
				><svg
					class="howWeWork__image-center howWeWork__image-sixth"
					width="81"
					height="81"
					fill="var(--orange-color)"
				>
					<use xlink:href="img/sprite.svg#data"></use>
				</svg>
			</div>
			<p class="howWeWork__text">
				Разработка сайта интернет-магазина
				<img
					loading="lazy"
					src="/img/More.svg"
					class="image howWeWork__icon"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>

		<!-- <div class="howWeWork__item howWeWork__item-four">
			<img
				loading="lazy"
				src="/img/howWeWork/Ad.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">Разработка сайта интернет-магазина</p>
		</div> -->
	</div>
</section>
