<section class="howWeWork">
	<div class="container howWeWork__container">
		<h3 class="howWeWork__title">Как мы работаем над вашим проектом</h3>
	</div>
	<div class="container howWeWork__path">
		<div class="howWeWork__item howWeWork__item-active">
			<img
				loading="lazy"
				src="/img/howWeWork/Audition.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text howWeWork__text-active">
				Подробнее
				<img
					loading="lazy"
					src="/img/howWeWork/More.svg"
					class="image"
					width="20"
					height="20"
					alt="Иконка 'больше'"
				/>
			</p>
		</div>
		<div class="howWeWork__item">
			<img
				loading="lazy"
				src="/img/howWeWork/SMM.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">Подготовка ТЗ</p>
		</div>
		<div class="howWeWork__item">
			<img
				loading="lazy"
				src="/img/howWeWork/Design.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">Подписание договора и оплата</p>
		</div>
		<div class="howWeWork__item howWeWork__item-six">
			<img
				loading="lazy"
				src="/img/howWeWork/Complex.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">Привлечение покупателей</p>
		</div>
		<div class="howWeWork__item">
			<img
				loading="lazy"
				src="/img/howWeWork/People.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">
				Настройка и наполнение интернет-магазина
			</p>
		</div>
		<div class="howWeWork__item howWeWork__item-four">
			<img
				loading="lazy"
				src="/img/howWeWork/Ad.svg"
				class="image howWeWork__image"
				width="180"
				height="180"
				alt="Аудирование иконка"
			/>
			<p class="howWeWork__text">Разработка сайта интернет-магазина</p>
		</div>
	</div>
</section>
