<div class="howWeWork__popup popup" id="popup">
	<div class="popup__body">
		<div class="popup__content">
			<h4 class="popup__title">
				Принимайте платежи картой, с помощью удобных платежных систем!
			</h4>
			<p class="popup__text">
				Подключите один из надежных сервисов: Яндекс.Деньги,
				Яндекс.Касса, PayPal, Robokassa или Stripe, и ваши покупатели
				смогут безопасно оплатить товар или услугу картой Visa или
				Mastercard, Яндекс.Деньгами, со счета мобильного телефона, через
				Сбербанк Онлайн или Альфа Клик.
			</p>
		</div>

		<img
			loading="lazy"
			src="./img/x.svg"
			class="image popup__x"
			width="44"
			height="44"
			alt="Изображение крестика"
			id="popupClose"
		/>
	</div>
</div>
