// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	// base
	--font-family: "Avenir", sans-serif;
	--content-width: 1408px;
	--container-offset: 16px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	// colors
	--white-color: #fff;
	--dark-color: #202020;
	--accent-dark-color: #171718;
	--orange-color: #ff834e;
	--dark-orange-color: #de774b;
}
