// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	// base
	--font-family: "Avenir", sans-serif;
	--content-width: 1408px;
	--container-offset: 16px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	//bg
	--background-primary: url("/img/primary_bg.png") no-repeat;

	// colors
	--white-color: #fff;
	--dark-color: #202020;
	--accent-dark-color: #171718;
	--orange-color: #ff834e;
	--dark-orange-color: #de774b;
	--orange-hover-color: #ef8b54;
	--case-item-color: #141414;
	--purple-color: #50386f;
}
